# web
fastapi==0.104.1
pydantic==2.5.1
uvicorn==0.24.0.post1
python-multipart==0.0.6

# db
SQLAlchemy==2.0.23
alembic==1.12.1
redis==5.0.1

# tools
python-dotenv==1.0.0
flake8==6.1.0
bcrypt==4.0.1

# testing
pytest==7.4.3
